/* FONT */
@font-face {
    font-family: "Bodega Sans";
    src: url("../fonts/bodegasans-cufonfonts-webfont/Bodega\ Sans\ Black.woff");
}

/* COLOR PALETTE */
:root {
    --grey: #444444;
    --darkgrey: #333333;
    --orange: #ff9d00;
}

/* GENERAL STYLE */
body {
    background-color: var(--grey);
    background-image: url("../img/bg-helmet.png");
    text-align: center;
    color: white;
}

h1, h2, h3, nav ul li a {
    font-family: "Bodega Sans";
}

h1, h2, h3 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 35px;
}

.text-orange {
    color: var(--orange);
}

/* HEADER STYLE  */
header {
    background-image: linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(51,51,51,1) 50%);
}

nav {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin: 30px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--orange);
}


/* GALLERY STYLE  */
.top-bar {
    border-top: 2px solid var(--orange);
    padding-top: 20px;
}

.btn-article {
    background-color: var(--orange);
    border-radius: 0;
    color: white;
    width: 100%;
    text-decoration: none;
}

/* ABOUT STYLE */

.about p {
    text-align: justify;
}

.logos a {
    color: white;
    text-decoration: none;
}

.logos {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 50px;
}

/* FOOTER STYLE */
.footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: underline;
}

.footer-academy img {
    width: 50px;
    height: auto;
}

.footer-academy p {
    font-size: 0.8rem;
}

.footer-navigation p {
    margin-bottom: 30px;
}

/* MEDIA QUERIES */

/* SMALL */
@media screen and (max-width: 576px) {

    header {
        background-image: linear-gradient(160deg, rgba(255,255,255,1) 50%, rgba(51,51,51,1) 50%);
    }

    nav {
        justify-content: right;
        gap: 30px;
        width: 80%;
        margin: auto;
    }

    nav ul {
        margin-right: 0;
    }


    .footer-navigation ul {
        flex-wrap: wrap;
        justify-content: center;
        width: 170px;
    }


    nav img {
        margin: auto;
        margin-top: 10px;
    }

    h2 {
        margin-right: 30px;
    }
}

/* MEDIUM */
@media screen and (min-width: 576px) and (max-width: 992px) {    
    nav img {
        height: auto;
        margin-left: 30px;
    }

    nav {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .logos {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 40px;
    }

    .about p {
        text-align: center;
    }
}